{% extends 'base.html.twig' %}

{% block title %}Dolphin - Create Ticket{% endblock %}

{% block body %}
    <section class="d-flex flex-column align-items-center my-lg-5">
        <h1>Espace de création de category</h1>
        <div style="width: 100rem">
            {{ form(form) }}
        </div>
    </section>
{% endblock %}
