{% extends 'base.html.twig' %}

{% block title %}Dolphin - Login{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <section class="d-flex flex-column align-items-center">
        <div class="my-5 w-50">
            <h1>Se connecter</h1>
            <form action="{{ path('authentication_login') }}" method="post">
                <div class="d-flex flex-column form-group my-lg-4">
                    <label class="form-label" for="username">Pseudo</label>
                    <input class="form-control" id="username" type="text" name="_username" placeholder="Email" value="{{ last_username }}">
                    <small class="form-text text-muted">Ne partager pas votre pseudo</small>
                </div>

                <div class="d-flex flex-column form-group my-lg-4">
                    <label class="form-label" for="password">Mot de passe</label>
                    <input class="form-control" id="password" type="password"  name="_password" placeholder="Mot de passe">
                    <small class="form-text text-muted">Ne partager pas votre mot de passe</small>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary me-md-auto">Se connecter</button>
            </form>
        </div>
    </section>
{% endblock %}
